<%= error_messages_for 'lab_group' %>

<!--[form:lab_group]-->
<p><label for="lab_group_name">Name</label><br/>
<%= text_field 'lab_group', 'name'  %></p>

<p><label for="lab_group_file_folder">File Folder</label><br/>
<%= text_field 'lab_group', 'file_folder'  %></p>

<%= hidden_field 'lab_group', 'lock_version' %>
<!--[eoform:lab_group]-->

