<h2>Editing Lab Group</h2>

<% form_tag :action => 'update', :id => @lab_group do -%>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end -%>

<%= link_to 'Back', :action => 'list' %>
