<h2>Editing Lab Group</h2>

<%= start_form_tag :action => 'update', :id => @lab_group %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<%= end_form_tag %>

<%= link_to 'Back', :action => 'list' %>
