<h2>Editing Lab Group</h2>

<% form_tag lab_group_path(@lab_group), :method => :put do -%>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end -%>

<%= link_to 'Back', lab_groups_path %>
