<h2>Editing Charge Set</h2>

<% form_tag :action => 'update', :id => @charge_set do -%>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Update Charge Set Information' %>
<% end -%>

<%= link_to 'Back', :action => 'list' %>
