<h2>Browse Samples</h2>

<% if @tree.nil? %>
  Nothing selected to browse by. <%= link_to 'Go Back', samples_url %>
<% else %>
  <%= link_to "&laquo; Back", samples_path %>

  <div class="tree">
    <%= render :partial => 'branch', :locals => {:branches => @tree} %>
  </div>
<% end %>
