<h1>Rename naming scheme</h1>

<% form_tag :action => 'update', :id => @naming_scheme do -%>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Rename' %>
<% end -%>

<%= link_to 'Back', naming_schemes_path %>
