<%= error_messages_for 'organism' %>

<!--[form:organism]-->
<p><label for="organism_name">Name</label><br/>
<%= text_field 'organism', 'name'  %></p>

<%= hidden_field 'organism', 'lock_version' %>
<!--[eoform:organism]-->

