<% for column in Organism.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @organism.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @organism %> |
<%= link_to 'Back', :action => 'list' %>
