<h2>Editing Chip Transaction</h2>

<%= start_form_tag :action => 'update', :id => @chip_transaction %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<%= end_form_tag %>

<%= link_to 'Back to Listing', :action => 'list_subset' %>
