<h2>Editing Chip Transaction</h2>

<% form_tag :action => 'update', :id => @chip_transaction do -%>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end -%>

<%= link_to 'Back to Listing', :action => 'list_subset' %>
