<div id="projects">
  <p><label for="sample_set_project_id">Project</label><br/>
  <%= collection_select :samples, :project_id,
    @projects, :id, :name, {:prompt => true}, :class => "required" %>
  (<%= link_to_remote 'Add a new Project', :update => "projects",
       :url => { :controller => 'projects', :action => 'new_inline' } %>)</p>
</div>
