body {
  background-color: #fff;
  color: #111;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   11px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #2b4475; }
a:visited { color: #2b4475; }
a:hover { color: #2b4475;  text-decoration: underline;}

p.flash{
	font-size: 14px; background-color:#FFFF99; color: #000000; padding:5px; width:95%;
	margin: 5px auto;
}

#title_bar {
  padding: 2ex 10ex 2ex 3ex;
  background-color: #006;
  color: #fff;
}

#wrap {
  float: left;
  margin: 0;
  width:3000px;
}

#menu {
  font-size: 12px;
  line-height: 20px;
  color: #333333;
  background: #E3E8F7;
  float: left;
  padding: 1ex 0 4ex 1ex;
  margin:2px;
}

#main {
	color: #333333;
	background: #FFFFFF;
    float:left;
    margin-left: -3px;
    padding-top: 2ex;
	padding-left: 3ex;
}

#menu a{
    padding-left: 1ex;
    padding-right: 1ex;
    text-decoration: none;
    /*color: #004;   */
}

#menu li {
	list-style-type: none;
}

#menu li.category {
	padding-top: 0.5ex;
    font-weight: bold;
    font-size: 110%;
}

.fieldset {
	width:300px; }
.fieldset .label {
	text-align:right;
	width:70px;
	float:left;
	padding:0.2em;
	margin:0;
	margin-top:0.3em; }
.fieldset .nobr {
	display:none; }  
.fieldset .textfield {
	margin:3px;
	height:20px;
	width:200px; }
.fieldset .textarea {
	margin:3px;
	height:165px;
	width:200px; }
./*table{
    padding: 2;
	background-color: #ffffff;
	border-color: #5d74a5;
	border-width: 1px 1px 1px 1px;
	border-style: solid;
	border-collapse: collapse;
	margin-bottom: 8px
}
td { 
    border: inset 1pt;
    padding: 2px 2px 2px 2px;
}
td    	{font-family: Helvetica, Arial, sans-serif; font-size: 9pt; color:#333333;}
td.border     { background-color: #5d74a5; }
td.titlebar   { background-color: #5d74a5; 
                background-repeat: no-repeat; } 
                
th {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 9pt; 
    font-weight: bold;
    border: inset 1pt;
    padding: 2px 2px 2px 2px;
}
*/
.notice {
	color: red;
	background-color: white;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#ErrorExplanation {
  width: 500px;
  border: 2px solid 'red';
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#ErrorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#ErrorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#ErrorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

div.uploadStatus {
  margin: 5px;
}

div.progressBar {
  margin: 5px;
}

div.progressBar div.border {
  background-color: #fff;
  border: 1px solid grey;
  width: 100%;
}

div.progressBar div.background {
  background-color: #333;
  height: 18px;
  width: 0%;
}


#charge_sets {
    margin-left: 5ex;
}

#new_project_box {
    border: 1px solid;
    padding: 5px;
    width: 30em;
}

#samples-index li {
  margin-top: 5px;
}

.tree ul {
  padding-left: 2em;
  padding-bottom: 5px;
}

table { empty-cells: show; }

/* TinyTable table sorter/paginator */
.sortable {width:800px; border-left:1px solid #c6d5e1; border-top:1px solid #c6d5e1; border-bottom:none; margin:0 auto 15px}
.sortable th {background:url(../images/header-bg.gif); text-align:left; color:#cfdce7; border:1px solid #fff; border-right:none}
.sortable th h3 {font-size:10px; padding:6px 8px 8px}
.sortable td {padding:4px 6px 6px; border-bottom:1px solid #c6d5e1; border-right:1px solid #c6d5e1}
.sortable .head h3 {background:url(../images/sort.gif) 7px center no-repeat; cursor:pointer; padding-left:18px}
.sortable .desc, .sortable .asc {background:url(../images/header-selected-bg.gif)}
.sortable .desc h3 {background:url(../images/desc.gif) 7px center no-repeat; cursor:pointer; padding-left:18px}
.sortable .asc h3 {background:url(../images/asc.gif) 7px  center no-repeat; cursor:pointer; padding-left:18px}
.sortable .head:hover, .sortable .desc:hover, .sortable .asc:hover {color:#fff}
.sortable .evenrow td {background:#fff}
.sortable .oddrow td {background:#ecf2f6}
.sortable td.evenselected {background:#ecf2f6}
.sortable td.oddselected {background:#dce6ee}

#controls {width:800px; margin:0 auto; height:20px}
#perpage {float:left; width:200px}
#perpage select {float:left; font-size:11px}
#perpage span {float:left; margin:2px 0 0 5px}
#navigation {float:left; width:400px; text-align:center}
#navigation img {cursor:pointer}
#text {float:left; width:200px; text-align:right; margin-top:2px}

/* Tables that shouldn't be sorted */
.nonsortable {border-collapse: collapse; width:800px; border-left:1px solid #bbb; border-top:1px solid #c6d5e1; border-bottom:none; margin:0 0 15px}
.nonsortable th {font-size: 12px; text-align:left; color:#000; border:1px solid #bbb; padding: 5px}
.nonsortable td {padding:4px 6px 6px; border:1px solid #bbb; text-align: left;}
.nonsortable .head h3 {background:url(../images/sort.gif) 7px center no-repeat; cursor:pointer; padding-left:18px}
.nonsortable .head:hover, .sortable .desc:hover, .sortable .asc:hover {color:#fff}
.nonsortable .evenrow td {background:#fff}
.nonsortable .oddrow td {background:#ecf2f6}
.nonsortable td.evenselected {background:#ecf2f6}
.nonsortable td.oddselected {background:#dce6ee}
