body { background-color: #fff; color: #111; }

#title_bar {
    padding: 3ex 10ex 1ex 4ex;
    background-color: #006;
/*margin-bottom: 10px;*/
}

#title_bar h1{
    color: #fff;
}
#wrap {
	float: left;
    margin:0 auto;
    width:2300px;
}

#menu {
	font-size: 12px;
	line-height: 20px;
	color: #333333;
	background: #E3E8F7;
	/*border-right: 1px solid;*/
	float: left;
	padding: 1ex 0 4ex 1ex;
	width:15em;
	margin:2px;
}

#main {
	color: #333333;
	background: #FFFFFF;
	line-height: 20px;
    float:left;
    margin-left: -3px;
    /*border-left: 1px solid; */
    padding-top: 2ex;
	padding-left: 3ex;
	width:2000px;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   11px;
  line-height: 16px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #2b4475; text-decoration: none;}
a:visited { color: #2b4475; text-decoration: none;}
a:hover { color: #2b4475;  text-decoration: underline;}

p.flash{
	font-size: 14px; background-color:#FFFF99; color: #000000; padding:5px; width:95%;
	margin: 5px auto;
}

#menu a{
    padding-left: 1ex;
    padding-right: 1ex;
    /*color: #004;   */
}

#menu li {
	list-style-type: none;
}

#menu li.category {
	padding-top: 0.5ex;
    font-weight: bold;
    font-size: 110%;
}

.fieldset {
	width:300px; }
.fieldset .label {
	text-align:right;
	width:70px;
	float:left;
	padding:0.2em;
	margin:0;
	margin-top:0.3em; }
.fieldset .nobr {
	display:none; }  
.fieldset .textfield {
	margin:3px;
	height:20px;
	width:200px; }
.fieldset .textarea {
	margin:3px;
	height:165px;
	width:200px; }
.table{
    padding: 2;
	background-color: #ffffff;
	border-color: #5d74a5;
	border-width: 1px 1px 1px 1px;
	border-style: solid;
	border-collapse: collapse;
	margin-bottom: 8px
}
.sortable{
    padding: 2;
	background-color: #ffffff;
	border-color: #5d74a5;
	border-width: 1px 1px 1px 1px;
	border-style: solid;
	border-collapse: collapse;
	margin-bottom: 8px
}
/* Sortable tables */
table.sortable a.sortheader {
    color:#000;
    font-weight: bold;
    text-decoration: none;
    display: block;
}
table.sortable span.sortarrow {
    color: black;
    text-decoration: none;
}

td { 
    border: inset 1pt;
    padding: 2px 2px 2px 2px;
}
td    	{font-family: Helvetica, Arial, sans-serif; font-size: 9pt; color:#333333;}
td.border     { background-color: #5d74a5; }
td.titlebar   { background-color: #5d74a5; 
                background-repeat: no-repeat; } 
                
th {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 9pt; 
    font-weight: bold;
    border: inset 1pt;
    padding: 2px 2px 2px 2px;
}

.notice {
	color: red;
	background-color: white;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#ErrorExplanation {
  width: 90%;
  border: 2px solid 'red';
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#ErrorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#ErrorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#ErrorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

div.uploadStatus {
  margin: 5px;
}

div.progressBar {
  margin: 5px;
}

div.progressBar div.border {
  background-color: #fff;
  border: 1px solid grey;
  width: 100%;
}

div.progressBar div.background {
  background-color: #333;
  height: 18px;
  width: 0%;
}


#charge_sets {
    margin-left: 5ex;
}

#hybridization_list {
      margin:0;
      margin-top:10px;
      padding:0;
      list-style-type: none;
      width:250px;
}
#hybridization_list li {
	margin:0;
	margin-bottom:4px;
	padding:3px;
	border:1px solid #888;
	cursor:move;
}
/* Bioanalyzer Trace table */
table#quality_traces {
    text-align: center;
    padding: 2;
	background-color: #ffffff;
	border-color: #5d74a5;
	border-width: 1px;
	border-style: solid;
	border-collapse: collapse;
	margin-bottom: 8px
}

table#quality_traces td {
    padding: 15px;
}

#new_project_box {
    border: 1px solid;
    padding: 5px;
    width: 30em;
}