<h1>API</h1>


<h2>The API</h2>
<p>This API is based on a RESTful approach.</p>


<h2>The resources</h2>
<ul>

  <li><h3>Resource:  <a href="/api/sample">/samples</a></h3></li>

  <li><h3>Resource:  <a href="/api/flow cell">/flow_cells</a></h3></li>

  <li><h3>Resource:  <a href="/api/flow cell lane">/flow_cell_lanes</a></h3></li>

  <li><h3>Resource:  <a href="/api/naming schemes">/naming_schemes</a></h3></li>

  <li><h3>Resource:  <a href="/api/project">/projects</a></h3></li>

</ul>


