<a href="/api">&laquo; Back to index</a>

<h1>/sequencing_runs</h1>
<p class="summary">
This resource can be used to list a summary of all sequencing runs, or show details for 
a particular sequencing run.
</p>





  <div style="padding:30px; padding-top:0px;border-bottom:1px solid #ddd;">
  
  
  <h2><span style='color:#ff6600; width:200px;margin-right:20px;'>GET</span>/sequencing_runs</h2>
  
  <p>
Get a list of all sequencing runs, which doesn't have all the details that are 
available when retrieving single sequencing runs (see GET /sequencing_runs/[sequencing run id]).
</p>
  
  <strong>Access:</strong> HTTP Basic authentication, Customer access or higher<br />

  <p><strong>Parameters:</strong>
  
    None
  
  </p>

   
    <strong>Return:</strong> A list of summary information on all sequencing runs</br>

    
    <a name="json"></a>
    <strong>JSON representation:</strong> <br /><a href="javascript:$('jsonrep--302203160').toggle()">(toggle code)</a><br />
    <textarea style="width:100%;height:200px;display:none;" id="jsonrep--302203160"><%= JsonPrinter.render(SequencingRun.find(:all, :limit => 5).collect{|x| x.summary_hash}) %></textarea>
    

    
    <a name="xml"></a>
    <strong>XML representation:</strong> <br /><a href="javascript:$('xmlrep--302203160').toggle()">(toggle code)</a><br/>
    <textarea style="width:100%;height:200px;display:none;" id="xmlrep--302203160"><%= SequencingRun.find(:all, :limit => 5).collect{|x| x.summary_hash}.to_xml %></textarea>
    

  
  
</div>






