<h2>Home</h2>

<p>This is <b><%= SiteConfig.site_name %></b>, an installation of the SLIMseq 
software for <%= SiteConfig.organization_name %>.</p>

<h3>Samples Submitted</h3>

<% if @samples != nil && @samples.size > 0 %>
  <%= render :partial => 'sample_table' %>
<% else %>
    <p>Your lab groups have no submitted samples that have not been sequenced.</p>
<% end %>

<%= link_to 'Submit New Samples', :controller => 'sample_sets', :action => 'new' %>
