<h1>Editing quality_trace</h1>

<% form_tag :action => 'update', :id => @quality_trace do -%>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end -%>

<%= link_to 'Show', :action => 'show', :id => @quality_trace %> |
<%= link_to 'Back', :action => 'list' %>
