<h1>Listing flow_cells</h1>

<table>
  <tr>
  </tr>

<% for flow_cell in @flow_cells %>
  <tr>
    <td><%= link_to 'Show', flow_cell %></td>
    <td><%= link_to 'Edit', edit_flow_cell_path(flow_cell) %></td>
    <td><%= link_to 'Destroy', flow_cell, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New flow_cell', new_flow_cell_path %>
