<div class="field_grouping">
  Project
  <%= render :partial => 'form' %>
  <%= submit_to_remote "submit_button", "Create", :url => {:action => 'create_inline'},
      :update => 'projects' %> or 
  <%= link_to_remote "Cancel", :url => {:controller => 'sample_sets', :action => 'cancel_new_project'},
      :update => 'projects' %>
</div>
