<%= error_messages_for 'naming_term' %>

<!--[form:naming_term]-->
<p><label for="naming_term_term">Term</label><br/>
<%= text_field 'naming_term', 'term'  %></p>

<p><label for="naming_term_abbreviated_term">Abbreviated Term</label><br/>
<%= text_field 'naming_term', 'abbreviated_term'  %></p>

<%= hidden_field 'naming_term', 'naming_element_id' %>
<%= hidden_field 'naming_term', 'lock_version' %>
<!--[eoform:naming_scheme]-->

    