<%= error_messages_for 'charge_period' %>

<!--[form:charge_period]-->
<p><label for="charge_period_name">Name</label><br/>
<%= text_field 'charge_period', 'name'  %></p>
<%= hidden_field 'charge_period', 'lock_version' %>
<!--[eoform:charge_period]-->

