<h2>Editing Charge Period</h2>

<% form_tag :action => 'update', :id => @charge_period do -%>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end -%>

<%= link_to 'Back', :action => 'list' %>
