  <p>
    <b>File Folder</b><br />
    <%= text_field :lab_group_profile, :file_folder %>
  </p>
  <p>
    <b>Require Manager Approval of Samples</b><br />
    <%= check_box :lab_group_profile, :samples_need_approval %>
  </p>
