<h2>Editing Inventory Check</h2>

<% form_tag :action => 'update', :id => @inventory_check do -%>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end -%>

<%= link_to 'Back', :action => 'list' %>
