<h1>Listing reference_genomes</h1>

<table>
  <tr>
  </tr>

<% for reference_genome in @reference_genomes %>
  <tr>
    <td><%= link_to 'Show', reference_genome %></td>
    <td><%= link_to 'Edit', edit_reference_genome_path(reference_genome) %></td>
    <td><%= link_to 'Destroy', reference_genome, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New reference_genome', new_reference_genome_path %>
