
<% for n in 0..@hybridizations.size-1
    hybridization = @hybridizations[n]
    sample = Sample.find(hybridization.sample_id) %>
	<li id="item_<%=h n+1 %>">
	<%=h hybridization.hybridization_date %>_<%=h hybridization.chip_number %>_<%=h sample.sample_name %>
	</li>
<% end %>

<%= sortable_element 'hybridization_list',
        :update => 'hybridization_list',
        :url => { :action => 'order_hybridizations' },
        :complete => visual_effect(:highlight, 'hybridization_list') %>