<h2>Editing Charge</h2>

<%= start_form_tag :action => 'update', :id => @charge %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<%= end_form_tag %>

<%= link_to 'Back', :action => 'list_within_charge_set', :charge_set_id => @charge.charge_set_id %>
