<h2>New Charge</h2>

<% form_tag :action => 'new' do -%>
  <p><select id="charge_template_id" name="charge_template_id">
     <%= options_from_collection_for_select @charge_templates, "id", "name" %>
  </select></p>
  <%= submit_tag "New Charge Using This Template" %>
<% end -%>

<hr>

<% form_tag :action => 'create' do -%>
  <%= render :partial => 'form' %>
  <%= submit_tag "Create" %>
<% end -%>

<%= link_to 'Back', :action => 'list_within_charge_set' %>
