<html>
    <head>
        <title><%= SiteConfig.find(1).site_name %> | <%= controller.controller_name %> | <%= controller.action_name %></title>
        <%= stylesheet_link_tag 'mystyles' %>
        <%= stylesheet_link_tag 'print', :media => 'print' %>
        <%= javascript_include_tag 'sorttable' %>
    </head>
    <body>
        <div id="title_bar">
            <h1><%= SiteConfig.find(1).site_name %></h1>
        </div>
        <div id="menu">
            <% if SiteConfig.track_inventory? %>
	            <%= link_if_authorized 'Chip Inventory', :controller => 'inventory', :action => 'index'%> 
	            <%= link_if_authorized 'Inventory Checks', :controller => 'inventory_checks', :action => 'list'%>
	        <% end %>
	        <% if SiteConfig.track_hybridizations? %>
                <%= link_if_authorized 'Hybridizations', :controller => 'hybridizations', :action => 'list'%> 
            <% end %>
            <% if SiteConfig.track_charges? %>
	            <%= link_if_authorized 'Charges', :controller => 'charge_sets', :action => 'list'%>
	            <%= link_if_authorized 'Charge Templates', :controller => 'charge_templates', :action => 'list'%>
	        <% end %>
            <%= link_if_authorized 'Chip Types', :controller => 'chip_types', :action => 'list'%>
            <%= link_if_authorized 'Lab Groups', :controller => 'lab_groups', :action => 'list'%>
            <%= link_if_authorized 'Users', :controller => 'user', :action => 'list'%>
            <%= link_if_authorized 'Site Config', :controller => 'site_config', :action => 'edit'%>
            <%= link_if_authorized 'Log Out', :controller => 'user', :action => 'logout'%>
        </div>
        <div id="main">
            <p style="color: green"><%= flash[:notice] %></p>
            <p style="color: red"><%= flash[:warning] %></p>
            <%= @content_for_layout %>
        </div>
    </body>
</html>